<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>To Do List</title>
    </head>
    <body>
        <h1> <%= kindOfDay %></h1>
        <ul>
            <li>Buy Food</li>
            <li>Cook Food</li>
            <li>Eat Food</li>
            <form action="/" method="post">
                <input type="text" name="addItem" placeholder="New Item">
                <button type="submit">Add</button>
            </form>
        </ul>
    </body>
</html>