<%- include("partials/header") %>
<h1>Compose</h1>
<form action="/compose" method="post">
    <label for="title"></label>
    <input type="text" name="postTitle" id="title">
    <button type="submit" name="button" value="button">Publish</button>
</form>
<%- include("partials/footer") %>