body {
    margin: 0;
}

h1 {
    margin-top: 0;
}

/******************** container *********************************/
.top-container {
    background-color: #e3fdfd;
}

.middle-container  {
    width: 200px;
    height: 200px;
    background-color: red;
}

.bottom-container {
    width: 200px;
    height: 200px;
    background-color: blue;
}