body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 2em;
    color: #40514E;

}

h1 {
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem; 
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Montserrat', sans-serif;

    color: #11999E;
}

a {
    color: #11999E;

}
/******************** container *********************************/
.top-container {
    background-color: #EAF6F6;
    padding-top: 100px;
    position: relative;
}

.pro {
    text-decoration: underline;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.titles {
    line-height: 2;
}

/* MySelf */
.Calvin-img {
    border-radius: 50%;
    width: 25%;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #EAF6F6;
    border-width: 5px;
    width: 3%;
}

/* My Skills */
.computer-img {
    border-radius: 50%;
    width: 25%;
    float: left;
    margin-right: 30px;
}

.skill-row {
    width: 50%;
    text-align: left;
    margin: 100px auto;
    line-height: 2;
}

.weightlifter-img {
    float: right;
    width: 25%;
    margin-left: 30px;
}

.code-skill-description {
    clear: left;
}

.weightlifting-skill-description {
    clear: right;
}

.middle-container {
    margin: 100px, 0;
}

.bottom-container {
    background-color: #EAF6F6;

}